@property --low
{
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}
@property --high
{
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}
*
{
    box-sizing: border-box;
}
html, body, canvas
{
    height: 100%;
    min-height: 100vh;
    min-height: 100lvh;
    max-height: 100vh;
    max-height: 100lvh;
    width: 100%;
    min-width: 100vw;
    min-width: 100lvw;
    max-width: 100vw;
    max-width: 100lvw;
}
html, body
{
    margin: 0px;
    padding: 0px;
    overflow: visible;
}
canvas
{
    position: fixed;
    inset: 0px;
}
body:not(.mousemove)
{
    cursor: none;
}
#fps
{
    position: fixed;
    z-index: 100;
    top: 0.5rem;
    top: max(0.5rem, env(safe-area-inset-top, 0.5rem));
    left: 0.5rem;
    left: max(0.5rem, env(safe-area-inset-left, 0.5rem));
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: monospace;
    font-size: 12px;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    white-space: pre;
    backdrop-filter: blur(0.5rem);
}
#control-panel
{
    position: fixed;
    z-index: 100;
    bottom: 0.5rem;
    bottom: max(0.5rem, env(safe-area-inset-bottom, 0.5rem));
    right: 0.5rem;
    right: max(0.5rem, env(safe-area-inset-right, 0.5rem));
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5rem);
    padding: 0.25rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
}
button
{
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    padding: calc(0.5rem - 2px);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    color: white;
    svg
    {
        height: 2.0rem;
        width: 2.0rem;
        color: white;
        fill: white;
    }
    .round-volume
    {
        position: absolute;
        height: 3rem;
        width: 3rem;
        top: -2px;
        left: -2px;
    }
}
.round-volume
{
    transition: --low 0.25s ease, --high 0.25s ease;
    border-radius: 50%;
    mask-image: radial-gradient(circle at center, transparent 0%, transparent calc(70.71% - 2px), white calc(70.71% - 2px));
    background: conic-gradient(black 0deg, black calc(var(--low) * 360deg),  white calc(var(--low) * 360deg),  white calc(var(--high) * 360deg), white calc(var(--high) * 360deg), black calc(var(--high) * 360deg));
}
