@property --low
{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}
@property --high
{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}
@property --rotate
{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}
*
{
    box-sizing: border-box;
}
html, body, canvas
{
    height: 100%;
    min-height: 100vh;
    min-height: 100lvh;
    max-height: 100vh;
    max-height: 100lvh;
    width: 100%;
    min-width: 100vw;
    min-width: 100lvw;
    max-width: 100vw;
    max-width: 100lvw;
}
html, body
{
    margin: 0px;
    padding: 0px;
    overflow: visible;
}
canvas
{
    position: fixed;
    inset: 0px;
    image-rendering: pixelated;
}
body:not(.mousemove)
{
    cursor: none;
}
#fps
{
    position: fixed;
    z-index: 100;
    top: 0.5rem;
    top: max(0.5rem, env(safe-area-inset-top, 0.5rem));
    left: 0.5rem;
    left: max(0.5rem, env(safe-area-inset-left, 0.5rem));
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: monospace;
    font-size: 12px;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    white-space: pre;
    backdrop-filter: blur(0.5rem);
}
body:not(.mousemove) #control-panel:not(:focus-within)
{
    opacity: 0;
    transition: opacity 1.5s ease;
}
#control-panel
{
    position: fixed;
    z-index: 100;
    bottom: 0.5rem;
    bottom: max(0.5rem, env(safe-area-inset-bottom, 0.5rem));
    right: 0.5rem;
    right: max(0.5rem, env(safe-area-inset-right, 0.5rem));
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5rem);
    padding: 0.25rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    transition: opacity 0.5s ease;
}
button
{
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    padding: calc(0.5rem - 4px);
    border-width: 4px;
    border-style: solid;
    border-color: black;
    transition: border-color 0.5s ease;
    color: white;
}
svg
{
    height: 2.0rem;
    width: 2.0rem;
    color: white;
    fill: white;
}
svg path
{
    color: white !important;
    fill: white !important;
}
button.round-bar::before
{
    position: absolute;
    content: "";
    height: 3rem;
    width: 3rem;
    top: -4px;
    left: -4px;
    transition: --low 0.5s ease, --high 0.5s ease, --rotate 0.5s ease;
    border-radius: 50%;
    mask-image: radial-gradient(circle at center, transparent 0%, transparent calc(70.71% - 4px), white calc(70.71% - 4px));
    background: conic-gradient(black 0deg, black calc(var(--low) * 360deg),  white calc(var(--low) * 360deg),  white calc(var(--high) * 360deg), white calc(var(--high) * 360deg), black calc(var(--high) * 360deg));
    transform: rotate(calc(var(--rotate) * 360deg));
}
button.on
{
    border-color: white;
}
button:focus
{
    outline: none;
    background-color: hsla(200, 100%, 35%, 0.9);
}
@media (hover: hover)
{
    button:hover
    {
        background-color: hsla(100, 100%, 25%, 0.9);
    }
}
