*
{
    box-sizing: border-box;
    overflow: visible;
}
html, body
{
    height: 100%;
    min-height: 100vh;
    min-height: 100lvh;
    max-height: 100vh;
    max-height: 100lvh;
    width: 100%;
    min-width: 100vw;
    min-width: 100lvw;
    max-width: 100vw;
    max-width: 100lvw;
    margin: 0px;
    padding: 0px;
}
canvas
{
    position: fixed;
    inset: 0px;
}
#fps
{
    position: fixed;
    z-index: 100;
    top: 0.5rem;
    top: calc(0.5rem + env(safe-area-inset-top));
    left: 0.5rem;
    left: calc(0.5rem + env(safe-area-inset-left));
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: monospace;
    font-size: 12px;
    padding: 0.25rem 0.5rem;
    margin: 0px;
    z-index: 1000;
    border-radius: 0.5rem;
    white-space: pre;
    backdrop-filter: blur(0.5rem);
}
