<!DOCTYPE html>
<!--
    __BUILD_MESSAGE__
    build options: __BUILD_OPTIONS__
    build at: __BUILD_TIMESTAMP__
    repository: __REPOSITORY_URL__
-->
<!-- license:
__LICENSE__-->
<html lang="en">
<head>
<meta charset="utf-8">
<title>__APPLICATION_TITLE__</title>
<!-- link id="favicon" rel="shortcut icon" href="./image/favicon.png" -->
<link rel="canonical" href="__CANONICAL_URL__">
<!-- link rel="apple-touch-icon" href="./image/favicon.png" -->
<meta name="theme-color" content="__THEME_COLOR__">
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
<meta name="description" lang="ja" content="__DESCRIPTION__">
<!-- link id="manifest" rel="manifest" href="web.manifest.json" /-->
<meta name="apple-mobile-web-app-title" content="__APPLICATION_TITLE__">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="mobile-web-app-capable" content="yes">
<meta name="twitter:card" content="player">
<meta name="twitter:site" content="@wraith13">
<!-- meta name="twitter:creator" content="@wraith13" -->
<meta name="twitter:title" content="__APPLICATION_TITLE__">
<meta name="twitter:description" lang="en" content="__DESCRIPTION__">
<meta name="twitter:image" content="https://wraith13.github.io/myaku-myaku-sama/image/twitter-card.png">
<meta name="twitter:player" content="__CANONICAL_URL__#twitter-card-player">
<meta name="twitter:player:width" content="600">
<meta name="twitter:player:height" content="600">
<meta property="og:title" content="__APPLICATION_TITLE__" />
<meta property="og:description" content="__DESCRIPTION__" />
<meta property="og:type" content="website" />
<meta property="og:url" content="__CANONICAL_URL__" />
<meta property="og:image" content="https://wraith13.github.io/myaku-myaku-sama/image/twitter-card.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:site_name" content="__APPLICATION_TITLE__" />
<meta property="og:locale" content="en_US" />
<link rel="image_src" href="https://wraith13.github.io/myaku-myaku-sama/image/twitter-card.png" />
<style>
__STYLE__
</style>
</head>
<body>
<noscript id="noscript" role="presentation">
    <div class="panel" role="presentation">
        <div class="section" role="presentation">
            <h2>NOSCRIPT</h2>
            __NOSCRIPT_MESSAGE__
        </div>
    </div>
</noscript>
<canvas id="canvas" role="presentation"></canvas>
<div id="fps" aria-hidden="true"></div>
<div id="control-panel" aria-label="Control Panel" title="Control Panel(&#x2423;)" aria-keyshortcuts="Space">
    <button id="styles-button" aria-label="Change Style" title="Change Style(C&#x0332;)" aria-keyshortcuts="c">__PALETTE_ICON___</button>
    <button id="fps-button" aria-label="Show FPS" title="Show FPS(S&#x0332;)" aria-keyshortcuts="s">__METER_ICON___</button>
    <button id="fullscreen-button" aria-label="Toggle Fullscreen" title="Toggle Fullscreen(F&#x0332;)" aria-keyshortcuts="f">__FULLSCREEN_ICON__</button>
    <button id="jump-out-button" aria-label="Open in New Tab" title="Open in New Tab">__JUMP_OUT_ICON__</button>
</div>
<script type="text/javascript">
const build = {
    at: "__BUILD_TIMESTAMP__",
    tick: __BUILD_TIMESTAMP_TICK__
};
const evilCommonjsConfig = __EVIL_COMMONJS_CONFIG__; // "./resource/evil-commonjs.config.json"
const evilTimerConfig = __EVIL_TIMER_CONFIG__; // "./resource/evil-timer.js.config.json"
__EVIL_COMMONJS__
__EVIL_TIMER__
__SCRIPT__
</script>
</body>
</html>
