html
{
    height: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    max-height: 100vh;
    max-height: 100dvh;
    width: 100%;
    min-width: 100vw;
    min-width: 100dvw;
    max-width: 100vw;
    max-width: 100dvw;
    box-sizing: border-box;
}
body
{
    margin: 0px;
    padding: 0px;
    inset: 0px;
    position: fixed;
}
canvas
{
    height: 100%;
    width: 100%;
}
