*
{
    box-sizing: border-box;
}
html, body
{
    height: 100%;
    min-height: 100vh;
    min-height: 100lvh;
    max-height: 100vh;
    max-height: 100lvh;
    width: 100%;
    min-width: 100vw;
    min-width: 100lvw;
    max-width: 100vw;
    max-width: 100lvw;
    margin: 0px;
    padding: 0px;
    overflow: visible;
}
canvas
{
    position: fixed;
    inset: 0px;
}
body:not(.mousemove)
{
    cursor: none;
}
#fps
{
    position: fixed;
    z-index: 100;
    top: 0.5rem;
    top: calc(0.5rem + env(safe-area-inset-top));
    left: 0.5rem;
    left: calc(0.5rem + env(safe-area-inset-left));
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: monospace;
    font-size: 12px;
    padding: 0.25rem 0.5rem;
    margin: 0px;
    border-radius: 0.5rem;
    white-space: pre;
    backdrop-filter: blur(0.5rem);
}
#control-panel
{
    position: fixed;
    z-index: 100;
    bottom: 0.5rem;
    bottom: calc(0.5rem + env(safe-area-inset-bottom));
    right: 0.5rem;
    right: calc(0.5rem + env(safe-area-inset-right));
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5rem);
    padding: 0.25rem;
    margin: 0px;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
}
button
{
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}